#modal {
  background-color: rgba(0,0,0,.5);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2;
  overflow: auto;
  display: none;
}

#modal-text {
  background-color: darkgray;
  color: #690203;
  height: 150px;
  width: 400px;
  border-radius: 5px;
  margin: 150px auto;
  box-shadow: 5px 5px 5px black;
  padding: 2px;
  text-align: center;
}

#yes{
  width: 100px;
}

.no{
  width: 100px;
}

body{
  font-family: courier;
  background-color: #E6DDBC;
  padding-bottom: 75px;
}

#invalid{
  text-align: center;
  color: #690203;
}

.publicTag{
  font-weight: bold;
  text-align: right;
  color: #690203;
}

.codeTitle{
  float: left;
}


.header{
  position: sticky;
  min-height: 85px;
  z-index: 1;
  background-color: black;
  color: white;
  display: inline-block;
  top: 0;
  width: 100%
}

.header h1{
  float: left;
  text-shadow: 3px 2px #690203;
}

.header h6{
  margin: 0;
  color: white;
}

.blurb{
  line-height: 45px;
  color: white;
  float: left;
  margin: 0;
  padding: 0;
}
.description{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background: white;
  overflow: auto;
  height: 10%;
}

.searchBar{
  background-color: darkgray;
  text-align: right;
  border-bottom: 3px solid black;
  padding-top: 5px;
  top: 75px;
  position: sticky;
  z-index: 1;
}
.newCodeForm{
  float: left;
}

.editCodeForm{
  text-align: center;
}
.deleteUserForm{
  float: right;
}

.snips{
  position: relative;
  text-align: center;
}

.tags{
  color: white;
  overflow: auto;
  text-decoration: none;
  position: absolute;
  display: inline-block;
  width: 425px;
  height: 50px;
}
.tagNames{
  float: left;
  width: 290px;
  overflow: auto;
}

 .singleTag{
   color: #690203;
 }

 .singleTag:hover{
   cursor: pointer;
   color: white;
 }
 .title{
   height: 5%;
 }

.titleHead{
  color: black;
}
.titleHead:hover{
  color: #690203;
  cursor: pointer;
}

.codeSnip{
  background-color: gray;
  margin: 10px;
  width: 425px;
  height: 425px;
  display: inline-block;
  text-align: justify;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
  overflow: auto;
}
.buttons{
  text-align: center;
  /*margin-left: 40%;
  margin-right: 45%;*/
}

.codeSnipOne{
  background-color: gray;
  margin: 10px;
  width: 60%;
  height: 500px;
  display: inline-block;
  text-align: justify;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
}
.registerUser{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
.code{
  font-family: courier;
  background: white;
  height: 68%;
  overflow: auto;
}

.codeSnip h4{
  color: white;
  margin: 1px;
  text-transform: capitalize;
}



.loginBox{
  color: black;
  float: right;
  /*position: fixed;
  top: 0;
  right: 0;*/
  margin-top: 25px;
  margin-right: 5px;
  /*display: inline-block;*/
}
.loginInput{
  border-radius: 5px;
}

.resetLink{
  color: black;
  margin-right: 5px;
}
.resetLink:hover{
  color: #690203;
  cursor: pointer;
}

.homeLink{
  position: absolute;
  top:0;
  right: 0;
  margin-top: 20px;
  margin-right: 5px;
  color: gray;
  float: right;
}
.homeLink:hover{
  color: #690203;
  cursor: pointer;
}

.editLink{
    position: absolute;
    top:0;
    right: 0;
    margin-top: 35px;
    color: gray;
    float: right;
}
.editLink:hover{
  color: #690203;
  cursor: pointer;
}

.codeBlock{
  background-color: gray;
  margin: 10px;
  width: 50%;
  height: 50%;
  display: inline-block;
  text-align: justify;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
}
.userName{
  color: white;
}

.userName:hover{
  color: #690203;
}

.searchBox{
  border-radius: 5px;
}
.logoutButton{
  background-color: #690203;
  border-radius: 4px;
  color: white;
}

.loginButton{
  background-color: #690203;
  border-radius: 5px;
  color: white;
}

.searchButton{
  background-color: #690203;
  border-radius: 5px;
  color: white;
  margin-right: 5px;
}

.deleteButton{
  background-color: #690203;
  border-radius: 5px;
  color: white;
  margin-right: 5px;
  margin-bottom: 10px;
}

.newCodeButton{
  background-color: #690203;
  border-radius: 5px;
  color: white;
  margin-right: 5px;
  float: left;
}

.editCodeButton{
  background-color: #690203;
  border-radius: 5px;
  color: white;
  margin-right: 5px;
  margin-top: 10px;
}

.newCode{
  width: 75%;
  margin-left: 12%;
  margin-right: 12%;
}

.newCode textarea{
  height: 200px;
  overflow: auto;
  resize: none;
}


.userEdit{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

#registerLink{
  color: gray;
}
#registerLink:hover{
  color: #690203;
  cursor: pointer;
}

.footer{
  border-top: 5px solid #690203;
  color: white;
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer h1{
  float: left;
  text-shadow: 3px 2px #690203;
}

.footerContent{

  margin-top: 25px;
  text-align: center;
  background-color: black;

}

.footerElement{
  margin-left: 25px;
  margin-right: 25px;
  color: darkgray;
  text-shadow: 1px 1px #690203;
}

.footerElement:hover{
  color: darkgray;
}
